#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_install:
	dh_install
	install -d debian/supervisor/etc/supervisor/conf.d
	install -m 644 debian/README.conf debian/supervisor/etc/supervisor/conf.d/README
	install -m 644 debian/supervisord.conf debian/supervisor/etc/supervisor/supervisord.conf
