Package: supervisor
Version: 3.0a8-1.1
Architecture: all
Maintainer: Anders Hammarquist <iko@debian.org>
Installed-Size: 724
Depends: python (>= 2.3), python-medusa (>= 0.5.4), python-meld3, python-pkg-resources (>= 0.6c7), python-support (>= 0.90.0)
Section: admin
Priority: extra
Homepage: http://supervisord.org/
Description: A system for controlling process state
 Supervisor is a system for controlling and maintaining process state,
 similar to what init does, but not intended as an init replacement.
 .
 It will manage individual processess or groups of processes that
 need to be started and stopped in order, and it is possible to
 control individual process state via an rpc mechanism, thus allowing
 ordinary users to restart processes.
